<html lang="en">
    <head>

        <title>Issue-Tracker</title>
    </head>
    <body>
    <div class="container">
        <section>

            <h3>Submit new issue</h3>
        </section>
        <section>

            <form method="post">

                <label for="id_new_issue"></label><input type="text" name="issue_text" id="id_new_issue" placeholder="Submit a new issue">
                {% csrf_token %}
                <button>Submit</button>
            </form>
        </section>

    </div>

    </body>
</html>